body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #FFF;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

#gameCanvas {
    border: 1px solid #FFF;
    background-color: #111;
}

#scoreboard, #gameHistory {
    margin-top: 20px;
    text-align: center;
}

#scoreboard {
    font-size: 18px;
}

#gameHistory {
    font-size: 14px;
    margin-top: 10px;
}
